@font-face {
  font-family: "Angelia";
  src: url("./fonts/Angelia\ Beauty.ttf") format("truetype");
}
@font-face {
  font-family: "Greatings";
  src: url("./fonts/Greating.ttf") format("truetype");
}
@font-face {
  font-family: "Romance";
  src: url("./fonts/Sweet\ Romance.ttf") format("truetype");
}
#styled_text_area {
  font-size: calc(15px + 0.390625vw);
}
